.dashboard-container {
    display: flex;
    flex-wrap: wrap;
}

.header-container {
    height: 100px;
    background-color: rgb(252, 204, 146);
}

.footer-container {
    height: 100px;
}

.card-product {
    height: 200px;
    width: 300px;
    /* display: grid; */
    padding: 12px;
    border: 1px solid blue;
    border-radius: 6px;
    margin: 6px;
    background-color: #e3e3f2;
}

.img-card {
    width: 100px;
    height: 100px;
}