.dashboard-container {
    height: calc(100vh - 100px - 100px);
    display: flex;
}

.header-container {
    height: 100px;
    background-color: rgb(252, 204, 146);
}

.footer-container {
    height: 100px;
}

.card-product {
    height: 400px;
    width: 300px;
    /* display: grid; */
    padding: 12px;
    border: 1px solid blue;
    border-radius: 6px;
    margin: 6px;
    background-color: #e3e3f2;
}